@import "../../containers/base";

.cartItem {
    display: flex;

    .left {
        display: flex;
        border: 1px solid #D5D5D5;
        padding: 5px;

        .cartItem__course {
            font-weight: bold;
            width: 75vh
        }

        .cartItem__image {
            width: 150px;
            height: 90px;
            margin-right: 10px
        }

        .cartItem__remove {
            color: #B600D7;
            padding: 0 40px 0 20px
        }

        .cartItem__price {
            color: #B600D7;
            font-weight: bold
        }

        .cartItem__org {
            color: $clr-card-noBuys;
            text-decoration: line-through;
            font-size: 0.85rem;
        }
    }

    .courseInfo {
        padding: 10px 0 5px 0;
    }
}